<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Jairo S.A. - Usuarios</title>
</head>
<body>

    <%- include('../partials/header'); %>

    <section class="container-lg mt-2">

      <div class="container m-4 text-center">
          <a class="material-icons" href="/active" style="display: flex;align-items: center;justify-content: center; font-size: 40px;" >visibility</a>
      </div>


        <table class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Nombre de Usuario</th>
                <th scope="col">Fecha de Creación de la cuenta</th>
                <th scope="col">Última edición a los datos</th>
                <th scope="col">Activo/a</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
            </tr>
            </thead>
            <tbody>

            <% for(let user of userList) { %>
                <tr>
                    <th scope="row"  align="center" valign="middle">  <%= user.cedula %> </th>
                    <td align="center" valign="middle"> <%= user.full_name %> </td>
                    <td align="center" valign="middle"> <%= user.user_name %> </td>
                    <td align="center" valign="middle"> <%= user.date_creation %> </td>
                    <td align="center" valign="middle"> <%= user.last_update %> </td>
                    <td align="center" valign="middle"> <%= user.is_active %> </td>
                    <td align="center" valign="middle"> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal<%= user.cedula %>" data-bs-whatever="@fat" style="display: flex;align-items: center;justify-content: center;"><span class="material-icons">edit</span></button> </td>
                    <td align="center" valign="middle"> <a href="/delete/<%= user.cedula %>" class="btn btn-danger" style="display: flex;align-items: center;justify-content: center;"><span class="material-icons">delete_forever</span></a></td>
                </tr>
                <%- include('../partials/editModal', {user:user}); %>
            <% } %>
        </tbody>
          </table>
    </section>
    
    <%- include('../partials/footer'); %>

</body>
</html>